/* tirar dois itens do nav */
@media only screen and (max-width: 1360px) {
    .del-element {
        display: none;
    }

    .header-profile {
        height: 36%;
    }
}

/* deixar apenas os ícones dp header */
@media only screen and (max-width: 1305px) {

    .header {
        /* width: 15%; */
    }
    
    .nav-bar {
        width: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: 47px;
    }

    .list-element-link:hover {
        padding: 12px;
    }

    .list-element-link {
    }

    .del-element-name {
        display: none;
    }

    .header-wrapper {
        width: 88px;
    }

    .circle-button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        text-align: center;
    }

    .button-name {
        display: none;
    }
    
    .button-icon {
        display: block;
    }
    
    .short-profile {
        display: none;
    }

    .header-profile {
        width: 88px;
        height: 37%;
    }
    
    .avatar-resp {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
    }

    .avatar-resp-img {
        width: 40px;
        height: 40px;
    }

    .avatar {
    }
}

@media only screen and (max-width: 1114px) {
    .aside {
        width: 288px;
    }
}

@media only screen and (max-width: 1053px) {
    
    .container {
    }
    .aside {
        display: none;
    }
    
    .main {
        width: 90%;
    }
    
    .header {
        width: 20%;
        flex-shrink: 1;
    }
    
    .profile-aside {
        width: 90%;
        padding-right: 0;
    }

    .profile-banner {
        height: 12%;
    }

    .profile-img {
        width: 27%;
        height: 30%;
    }

    .bar-element-link {

        padding: 0 14px;
    }

}

    
    @media only screen and (max-width: 761px) {
        
        .container {
        }
        .header {
            width: 100%;
            border: 1px solid red;
        }
        
        .nav-bar {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
        
        .header-wrapper {
            width: 70px;
            width: px;
        }
        
        .list-element-link {
            padding: 12px;
        }
        .main {

        }

        .profile {
            width: 95%;
        }
        .profile-aside {
            width: 100%;
        }
     }

