* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --paleBlue: #00AAEC;
    --border-bottom: 1px solid rgba(47, 51, 54, 1);
    --gray-name: rgba(110, 118, 125, 1);
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    background-color: #000000;
}

.container {
    display: flex;
}

.header {
    height: 663px;
}

a {
    text-decoration: none;
}

.selected {
    color: var(--paleBlue);
}

.padding-left-right {
    padding: 0 15px;
}

.padding-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.border-bottom {
    border-bottom: var(--border-bottom);
}
/* -----------Estilizando o HEADER-----------------*/

.header {
    width: 23.2%;
    height: 663px;
    /* border-right: 1px solid rgba(217, 217, 217, 0.2); */
}

.nav-bar {
    width: 100%;
    height: 100%;
    padding: 5px 32px;
    padding-left: 56px;
}

.icon-twitter {
    display: inline-flex;
    border-radius: 50%;
    padding: 8px 1px;
}

.icon-twitter:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

#first-twitter-icon {
    width: 46px;
    height: 30px;
}

.list {
    list-style-type: none;
}

.list-element {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    padding-right: 24px;
}

.list-element:hover {
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 25px;
}

.list-element:hover .list-element-name{
    color: var(--paleBlue);
}

.list-element:hover .list-element-img path, .list-element:hover .list-element-img circle {
    fill: var(--paleBlue);
}

.list-element-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #D9D9D9;
    text-decoration: none;
}

.list-element-name {
    display: inline-block;
    margin-left: 20px;

}

.icon-home {
    color: #D9D9D9;
}

.header-wrapper {
    width: 250px;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.button {
    width: 225px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--paleBlue);
    color: #D9D9D9;
    font-weight: bold;
    border-radius: 25px;
    margin: 10px 0;
}

.button:hover {
    background-color: #1a91da;
}

.short-profile {
    width: 100%;
    display: flex;
    padding: 12px;
    margin: 10px 0;
    border-radius: 30px;
}

.short-profile:hover {
    background-color: rgba(29, 161, 242, 0.1);
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
}

.name-and-username {
    width: 100px;
    margin-left: 16px;
    cursor: pointer;
}

.name {
    display: block;
    color: #D9D9D9;
    line-height: 20px;
    font-weight: bold;
}

.username {
    color: var(--gray-name);
    font-weight: 400;
}

#option {
    width: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* -----------Estilizando o HEADER-----------------*/

.profile-aside {
    width: 600px;
    height: 100%;
}

.profile {
    height: 100%;
    border-right: 1px solid rgba(217, 217, 217, 0.2);
    border-left: 1px solid rgba(217, 217, 217, 0.2);
}

.profile-name {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.profile-arrow {
    margin-right: 25px;
}

.fa-arrow-left {
    padding: 12px;
    color: var(--paleBlue);
    border-radius: 50%;
    cursor: pointer;
}

.fa-arrow-left:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.profile-banner {
    height: 199px;
    background-color: rgba(47, 51, 54, 1);
}

.profile-wrapper {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.info-bar {
    border-bottom: 1px solid rgba(47, 51, 54, 1);
}

.img-and-button {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}

.profile-img {
    width: 141px;
    margin-top: -75px;
    border-radius: 50%;
    border: 4px solid #000000;
    cursor: pointer;
}

.img-and-button .button {
    width: 150px;
    height: 40px;
    margin: 0;
    background-color: #000000;
    color: var(--paleBlue);
    border: 1px solid var(--paleBlue);
    margin-top: 10px;
    font-size: 15px;
}

.img-and-button .button:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.profile .name-and-username {
    margin-left: 0px;
}

.profile .name {
    font-size: 20px;
    font-weight: 800;
}

.profile .username {
    font-size: 13px;
}

.profile-joined {
    margin: 12px 0;
}

.joined {
    color: var(--gray-name);
    font-weight: 400;
    font-size: 15px;
}

.fa-calendar-alt {
    font-size: 16px;
}

.following-followers {
    color: var(--gray-name);
    font-weight: 400;
    font-size: 15px;
}

.underline {
    display: inline-block;
    margin-right: 20px;
    border-bottom: 1px solid transparent;   
}

.underline:hover {
    border-bottom: 1px solid #D9D9D9;   
    cursor: pointer; 
}

.bold {
     color: #D9D9D9;
     
 }

.bar-list {
    display: flex;
    justify-content: space-between;
}

.bar-element:first-child .bar-element-link {
    color: var(--paleBlue);
}

.bar-element:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.bar-element:hover .bar-element-link {
    color: var(--paleBlue);
}

.bar-element-link {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-weight: bold;
    color: var(--gray-name);
}

.bar-element-link .selected {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--paleBlue);
    border-radius: 2px;
}

.who-follow {
    
}

.user-profile {
    border-bottom: var(--border-bottom);
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
    transition: .2s;
}

.user-profile:hover {
    background-color: rgba(255, 255, 255, 0.03);
    transition: .2s;
}

.follow-too {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.follow-too-img {/* svg, então utilize fill*/
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 33px;
}

.follow-too-img path {
    fill: var(--gray-name);
}

.follow {
    font-size: 13px;
    color: var(--gray-name);
    font-weight: 800;
}

.user-profile-img-link {
    height: 48px;
    display: flex;
    align-items: flex-start;
}

.user-profile-img {
    width: 48px;
    height: 100%;
    border-radius: 50%;
}

.user-profile-wrapper {
}

.user-profile-wrapper .name {
    font-size: 15px;
}

.user-profile-username-button {
    width: 100%;
    display: flex;
}

.user-profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-profile-info .name-and-username {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-profile-info .name {
    border-bottom: 1px solid transparent;
}

.user-profile-info .name:hover {
    border-bottom: 1px solid #D9D9D9;
}

.user-profile-username-button .button {
    width: 77px;
    height: 35px;
    margin: 0;
    background-color: #000000;
    color: var(--paleBlue);
    border: 1px solid var(--paleBlue);
    font-size: 15px;
}

.user-profile-username-button .button:hover {
    cursor: pointer;
    background-color: rgba(29, 161, 242, 0.1);
}

.user-profile-text {
    color: #D9D9D9;
    font-size: 15px;
    margin-top: 8px;
}
