* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --paleBlue: #00AAEC;
    --border-bottom: 1px solid rgba(47, 51, 54, 1);
    --border-top: 1px solid rgba(47, 51, 54, 1);
    --gray-name: rgba(110, 118, 125, 1);
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    background-color: #000000;
}

.container {
    display: flex;
}

.header {
    height: 663px;
}

a {
    text-decoration: none;
}

.selected {
    color: var(--paleBlue);
}

.padding-left-right {
    padding: 0 15px;
}

.padding-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.border-bottom {
    border-bottom: var(--border-bottom);
}

.border-top {
    border-top: var(--border-bottom);
}

.hover-element:hover {
    background-color: rgba(255, 255, 255, 0.03);
    transition: .2s;
    cursor: pointer;
}

.hover-element-blue:hover {
    background-color: rgba(29, 161, 242, 0.1);
    transition: .2s;
}

.hover-letter-blue-color {
    color: var(--paleBlue);
}

.no-border {
    border-bottom: none;
}
/* -----------Estilizando o HEADER-----------------*/

.header {
    width: 23.2%;
    height: 663px;
    /* border-right: 1px solid rgba(217, 217, 217, 0.2); */
}

.nav-bar {
    width: 100%;
    height: 100%;
    padding: 5px 32px;
    padding-left: 56px;
}

.icon-twitter {
    display: inline-flex;
    border-radius: 50%;
    padding: 8px 1px;
}

.icon-twitter:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

#first-twitter-icon {
    width: 46px;
    height: 30px;
}

.list {
    list-style-type: none;
}

.list-element {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    padding-right: 24px;
}

.list-element:hover {
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 25px;
}

.list-element:hover .list-element-name{
    color: var(--paleBlue);
}

.list-element:hover .list-element-img path, .list-element:hover .list-element-img circle {
    fill: var(--paleBlue);
}

.list-element-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #D9D9D9;
    text-decoration: none;
}

.list-element-name {
    display: inline-block;
    margin-left: 20px;

}

.icon-home {
    color: #D9D9D9;
}

.header-wrapper {
    width: 250px;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.button {
    width: 225px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--paleBlue);
    color: #D9D9D9;
    font-weight: bold;
    border-radius: 25px;
    margin: 10px 0;
}

.button:hover {
    background-color: rgb(26, 145, 218);
}

.short-profile {
    width: 100%;
    display: flex;
    padding: 12px;
    margin: 10px 0;
    border-radius: 30px;
}

.short-profile:hover {
    background-color: rgba(29, 161, 242, 0.1);
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
}

.name-and-username {
    width: 100px;
    margin-left: 16px;
    cursor: pointer;
}

.name {
    display: block;
    color: #D9D9D9;
    line-height: 20px;
    font-weight: bold;
}

.username {
    color: var(--gray-name);
    font-weight: 400;
}

#option {
    width: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* -----------Estilizando o Perfil-----------------*/

.profile-aside {
    width: 600px;
    height: 100%;
    display: flex;
}

.profile {
    height: 100%;
    border-right: 1px solid rgba(217, 217, 217, 0.2);
    border-left: 1px solid rgba(217, 217, 217, 0.2);
}

.profile-name {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.profile-arrow {
    margin-right: 25px;
}

.fa-arrow-left {
    padding: 12px;
    color: var(--paleBlue);
    border-radius: 50%;
    cursor: pointer;
}

.fa-arrow-left:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.profile-banner {
    height: 199px;
    background-color: rgba(47, 51, 54, 1);
}

.profile-wrapper {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.info-bar {
    border-bottom: 1px solid rgba(47, 51, 54, 1);
}

.img-and-button {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}

.profile-img {
    width: 141px;
    margin-top: -75px;
    border-radius: 50%;
    border: 4px solid #000000;
    cursor: pointer;
}

.img-and-button .button {
    width: 150px;
    height: 40px;
    margin: 0;
    background-color: #000000;
    color: var(--paleBlue);
    border: 1px solid var(--paleBlue);
    margin-top: 10px;
    font-size: 15px;
}

.img-and-button .button:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.profile .name-and-username {
    margin-left: 0px;
}

.profile .name {
    font-size: 20px;
    font-weight: 800;
}

.user-profile-info .username {
    font-size: 15px;
}

.profile-joined {
    margin: 12px 0;
}

.joined {
    color: var(--gray-name);
    font-weight: 400;
    font-size: 15px;
}

.fa-calendar-alt {
    font-size: 16px;
}

.following-followers {
    color: var(--gray-name);
    font-weight: 400;
    font-size: 15px;
}

.underline {
    display: inline-block;
    margin-right: 20px;
    border-bottom: 1px solid transparent;   
}

.underline:hover {
    border-bottom: 1px solid #D9D9D9;   
    cursor: pointer; 
}

.bold {
     color: #D9D9D9;
     
 }

.bar-list {
    display: flex;
    justify-content: space-between;
}

.bar-element:first-child .bar-element-link {
    color: var(--paleBlue);
}

.bar-element:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.bar-element:hover .bar-element-link {
    color: var(--paleBlue);
}

.bar-element-link {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-weight: bold;
    color: var(--gray-name);
}

.bar-element-link .selected {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--paleBlue);
    border-radius: 2px;
}

.who-follow {
    margin-bottom: 15px;
}

.user-profile {
    border-bottom: var(--border-bottom);
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
    transition: .2s;
}

.user-profile:hover {
    background-color: rgba(255, 255, 255, 0.03);
    transition: .2s;
}

.follow-too {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.follow-too-img {/* svg, então utilize fill*/
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 33px;
}

.follow-too-img path {
    fill: var(--gray-name);
}

.follow {
    font-size: 13px;
    color: var(--gray-name);
    font-weight: 800;
}

.user-profile-img-link {
    height: 48px;
    display: flex;
    align-items: flex-start;
}

.user-profile-img {
    width: 48px;
    height: 100%;
    border-radius: 50%;
}

.user-profile-wrapper {
}

.user-profile-wrapper .name {
    font-size: 15px;
}

.user-profile-username-button {
    width: 100%;
    display: flex;
}

.user-profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-profile-info .name-and-username {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-profile-info .name {
    border-bottom: 1px solid transparent;
}

.user-profile-info .name:hover {
    border-bottom: 1px solid #D9D9D9;
}

.user-profile-username-button .button {
    width: 77px;
    height: 35px;
    margin: 0;
    background-color: #000000;
    color: var(--paleBlue);
    border: 1px solid var(--paleBlue);
    font-size: 15px;
}

.user-profile-username-button .button:hover {
    cursor: pointer;
    background-color: rgba(29, 161, 242, 0.1);
}

.user-profile-text {
    color: #D9D9D9;
    font-size: 15px;
    margin-top: 8px;
}

#topics-follow-text {
    font-size: 13px;
}

.topics-to-follow {
    display: flex;
    overflow-y: auto;
    position: relative;
}

.topics-to-follow .fa-arrow-left {
    height: 30px;
    display: inline-flex;
    position: relative;
    color: #D9D9D9;
    background-color: rgba(0, 0, 0, .8);
    background-color: rgba(47, 51, 54, .4);
}

.topics-to-follow .fa-arrow-right {
    position: absolute;
    color: #D9D9D9;
    right: 0;
    top: 40%;
    background-color: rgba(0, 0, 0, .8);

}

.topics-to-follow .fa-arrow-left:hover {
    background-color: rgba(47, 51, 54, .4);
    transition: .2s;
}

/* Como manipular scrollbar?

Esses dois são tratados como imagens, então lembre-se de não deixar repetir.
::-webkit-scrollbar-button:single-button => colore o botão EXTERNO de navegar de baixo;

::-webkit-scrollbar-button:single-button:vertical:decrement => colore o botão EXTERNO de cima
*/

/* 
.topics-to-follow::-webkit-scrollbar { 
    height: 10px;
}

.topics-to-follow::-webkit-scrollbar-track { 
    background-color: #D9D9D9;
}

.topics-to-follow::-webkit-scrollbar-thumb {
    background-color: yellow;
}

.topics-to-follow::-webkit-scrollbar-button:single-button {
    height: 10px;
    width: 10px;
    display: block;
    background-color: blue;
    background-image: url('/assets/img/twitter.svg');
    background-repeat: no-repeat;
}

.topics-to-follow::-webkit-scrollbar { /* Largura do scrollbar 
    width: 100px;
    height: 10px;
}

.topics-to-follow::-webkit-scrollbar-track { /* Definindo o scroll externo 
    background-color: #D9D9D9;
}

.topics-to-follow::-webkit-scrollbar-thumb { /* Definindo o scroll interno (o que rola) 
    background-color: rgba(47, 51, 54, 1);
} */

.topics-wrapper {
    width: 196px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.topic-button {
    border: var(--border-bottom);
    border-radius: 22px;
    cursor: pointer;
    margin-bottom: 7px;
}

.topic-button:hover {
    transition: .2s;
}

.internal-button {
    width: 195px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
}

.internal-button-name {
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
}

.fa-plus {
    color: var(--paleBlue);
}

.internal-button-first {
    width: 100%;
}

.internal-button-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.button-follow {
    width: 100%;
    padding-left: 15px;
    border-radius: 22px 0px 0px 22px;
}

.button-close {
    padding-right: 15px;
    border-radius: 0px 22px 22px 0;
}

.button-close:hover {
}

.internal-button-last-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 15px;
    border: 1px solid violet;
}

.internal-button-last-wrapper:hover {
}

.internal-button-last {
    padding-left: 15px;
    border-left: var(--border-bottom);
}

.show-more {
    padding: 16px;
    padding-top: 17px;
}

.more {
    color: var(--paleBlue);
}

/* -----------Estilizando o Aside-----------------*/

.aside {
    padding: 0 20px;
}

.aside-search {
    width: 350px;
    height: 44px;
    background-color: rgb(32, 35, 39);
    border-radius: 25px;
    padding-left: 17px;
    margin-top: 5px;
    margin-bottom: 13px;
}

.aside-search:focus {
    border: 1px solid red;
}


.search-img-input {
    height: 100%;
    display: flex;
    align-items: center;
}

.search-img {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.search-img svg {
    fill: #6e767d;
}

.search-input {
    width: 100%;
    
}

#search {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #D9D9D9;
    font-size: 13.33px;
}

#search::-webkit-input-placeholder {
    font-size: 15px;

}

#search:focus {
    border: 1px solid red;
}

.aside .who-follow {
    border-radius: 15px;
    background-color: rgb(21, 24, 28);
}

#who-follow-title {
    font-size: 20px;
    font-weight: 800;
}

.aside .user-profile-info {
    margin-left: 0;
    align-items: center;
}

.aside .name-and-username {
    margin-left: 10px;
    padding-right: 20px;
}

.aside .button {
    background-color: transparent;
}

.aside .user-profile {
    border-bottom: none;
    border-top: var(--border-top);
}

.aside .user-profile-username-button {
    align-items: center;
}

.aside .happing .user-profile-img-link {
    margin-left: 5px;
}

.aside .happing .user-profile-img {
    width: 60px;
    height: 60px;
    margin-left: 5px;
    border-radius: 6px;
}

.aside .name {
    margin: 5px 0;;
}